@font-face {
  font-family: "Montserrat1";
  src: url("./assets/Montserrat-Italic-VariableFont_wght.ttf");
}

$blackcolor: black;
$whitecolor: white;
$redcolor: rgb(230, 1, 1);

* {
  box-sizing: border-box;
  font-family: "Montserrat1";
}

html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body {
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $blackcolor;
}

.title_photo {
  width: 100%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;

  @media (max-width: 640px) {
    flex-direction: column;
    align-items: center;
  }

  .main-image {
    position: absolute;
    background-image: url("./assets/received_445848323295916.jpeg");
    background-size: cover;
    opacity: 0.4;
    height: 100%;
    width: 100%;
    @media (max-width: 640px) {
      width: 100vw;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 35%;
    }
  }

  .logo {
    display: flex;
    justify-content: flex-start;
    height: fit-content;

    img {
      height: 300px;
      width: 300px;
      opacity: 0.8;
      @media (max-width: 640px) {
        height: 200px;
        width: 200px;
      }
    }
  }

  .title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: $whitecolor;
    font-weight: 900;
    font-size: 4rem;
    font-style: normal;

    @media (max-width: 640px) {
      font-size: 2rem;
    }

    span {
      color: $redcolor;
    }
  }
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 8vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-out;
  backdrop-filter: blur(8px) brightness(1.2);
  -webkit-backdrop-filter: blur(8px) brightness(1.2);
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  color: $whitecolor;
  font-size: 1.5rem;
  padding-right: 20px; // poprawić kwestię podświetlania menu
}

a {
  color: inherit;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.list {
  list-style-type: none;
  margin-left: 0px;
  display: flex;
  font-size: 1.5 rem;

  @media (max-width: 640px) {
    // flex-direction: row;
    // top: 10px;
    font-size: 1rem;
  }

  li {
    margin-left: 20px;
  }
}

.main {
  font-size: 1.5rem;
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: $whitecolor;
  background-color: black;

  .myphoto {
    border-radius: 50%;
    border: 3 px solid $blackcolor;
    width: 30vh;
  }

  .photofuro {
    margin-top: 10px;
    height: 100px;
    width: 100 px;
    border-radius: 50%;
  }

  .trainephoto_container {
    display: flex;
    justify-content: space-around;
    width: 100vw;
    .trainephoto {
      height: 10rem;
      width: auto;
      margin-bottom: 10px;
      border: 2px solid $whitecolor;
    }

    .trainephoto1 {
      height: 10rem;
      width: auto;
      margin-bottom: 10px;
      border: 2px solid $whitecolor;
    }
  }
  .startpage_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    // flex-direction: column;
    p {
      font-size: 1.5rem;
      padding: 0 30px 0 30px;
      width: 50vw;
      height: fit-content;
      color: white;
      text-align: center;
      font-size: 2 rem;
    }
    .sogokakutogi {
      height: 30rem;
      width: auto;
      margin-bottom: 10px;
      color: white;
      @media (max-width: 640px) {
        display: none;
      }
    }
  }

  h1 {
    font-size: 1.5rem;
    text-transform: uppercase;

    .club_name {
      font-size: 1rem;
      color: $blackcolor;
    }
  }

  #name {
    border: 3px solid #000;
    border-radius: 5px;
    height: 50px;
    line-height: normal;
    color: #282828;
    display: block;
    width: 100%;
    box-sizing: border-box;
    user-select: auto;
    font-size: 16px;
    padding: 0 6px;
    padding-left: 12px;
    :focus {
      border: 3px solid #5551ff;
    }
  }

  #button {
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color, border-color, color, box-shadow,
      filter;
    transition-duration: 0.3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 16px 14px 18px;
    color: #616467;
    box-shadow: inset 0 0 0 2px #616467;
    background-color: transparent;
    height: 48px;
    :hover {
      color: #fff;
      background-color: #616467;
    }
  }
}

.footer {
  padding: 0 20px 0 20px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  color: $whitecolor;

  .photofuro2 {
    margin-top: 10px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }

  .photofurologo_cooperation {
    height: 10rem;
    width: 10rem;
  }

  p {
    justify-content: center;
  }

  .fb {
    height: 30px;
    width: 30px;
  }
}

.safekid {
  color: white;
}
